@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #222222;
  --spacing-r: 1rem;
  --border-width-l: 0.15rem;
  --color-border: var(--foreground);
  --background-card: #fafafa;
  --background-card-hover: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-fraunces);
  --font-standard: var(--font-lora);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-color: #d4d4d4;
  --background-card: #171717;
  --background-card-hover: #1f1f1f;
}

body, p {
  font-family: var(--font-standard);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
}

p {
  color: var(--text-color);
}

header,
h1, h2, h3 {
  font-family: var(--font-serif);
  font-optical-sizing: 50;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "SOFT" 50,
    "WONKY" 100;
  }
  
h1 {
  font-size: 4rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 3rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 2rem;
  letter-spacing: -0.05em;
}
h4 {
  font-family: Arial;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.4;
  margin-bottom: 0.4rem;
}

a{
  font-family: var(--font-standard);
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.quote div {
  display: flex;
  align-items: center;
  gap: 0 var(--spacing-r);
}

.quote div::after,
.quote div::before {
  content: "";
  display: block;
  flex: 1;
  height: var(--border-width-l);
  background-color: var(--color-border);
}

.quote-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

.separator {
  width: 90%;
  height: var(--border-width-l);
  background-color: var(--foreground);
}

.card {
  width: 320px;
  height: 320px;
  background-color: var(--background-card);
  padding: var(--spacing-r);
  border-radius: 0.5rem;
  transition: 0.3s ease;
} .card:hover {
  background-color: var(--background-card-hover, var(--background-card));
  text-decoration: none;
}

.card-title {
  font-weight: 300;
}

.card-content{
  line-height: 1.6rem;
}

.card-category {
  font-family: Arial;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.5;
}